
header{
    font-family: Arial;
}

main{
    font-family: Helvetica, sans-serif;
}

#top-header img{
    width: 100px;
}

main img{
    width:100%;
}

footer img{
    width: 100%;
}

.dropdown-toggle::after {
    border: none;
}

div.banner{
    height: 630px;
    width: 100%;
} 

div.card{
    width: 100%;
    border-radius: 1rem;
    border:none;
}

div.card img{
    border-radius: 1rem;
}

div.title-box{
    height: 250px;
    width: 100%;
}

div.marketplace{
    width: 200px;
    height: 200px;
    opacity: .6;
}

div.marketplace img{
    width:65%;
    margin-bottom: 1rem;
}

#no-opacity{
    opacity: 1;
}

section#jumbotron{
    background-image:url(../img/jumbo-bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
}

section#game{
    background-image:url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
section#game img,
section#jumbotron img{
    width: 220px;
}

.bg-grey{
    background-color: rgb(190, 188, 187);
}

.bg-dark-blue{
    background-color: rgb(22, 28, 59);
}

section#subscriprion div.col:first-child img,
section#explorer div.col:first-child img{
    width: 200px;
}

.social-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-box img{
    flex-basis: calc(70% / 2);
    margin: 1rem 1.5rem;
}


/* @media screen and (max-width: 576px) { 
    .social-box img{
        flex-basis: calc(65% / 2);
        margin: 1rem 2rem;
    }

    .social-box{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
} */

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) { 
    .social-box img{
        flex-basis: calc(65% / 2);
        margin: 1rem 2rem;
    }

    .social-box{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    .social-box img{
        flex-basis: calc(65% / 4);
        margin: 1rem 1.5rem;
    }

    .social-box{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    .social-box img{
        flex-basis: calc(55% / 4);
        margin: 1rem 2rem;
    }

    .social-box{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }
}

/*  X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
    .social-box img{
        flex-basis: calc(55% / 4);
        margin: 1rem 2rem;
    }

    .social-box{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 
    .social-box img{
        flex-basis: calc(55% / 4);
        margin: 1rem 2rem;
    }

    .social-box{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }
}


#logo-invert{
    filter: invert(1) grayscale(1) brightness(3);
    width: 150px;
}

.bg-light-blue{
    background-color: rgb(0, 67, 156);
}

#link-footer a,
#credits a{
    color: white;
}
.fa-registered{
    left: 140px;
    top: 100px;
}

#credits img{
    width: 200px;
    margin-bottom: 1rem;
}
