
header{
    font-family: Arial;
}

main{
    font-family: Helvetica, sans-serif;
}

main img{
    width:100%;
}

.dropdown-toggle::after {
    border: none;
}

div.banner{
    height: 630px;
    width: 100%;
} 

div.card{
    width: 100%;
    border-radius: 1rem;
    border:none;
}

div.card img{
    border-radius: 1rem;
}

div.title-box{
    height: 250px;
    width: 100%;
}

div.marketplace{
    width: 200px;
    height: 200px;
    opacity: .6;
}

div.marketplace img{
    width:65%;
    margin-bottom: 1rem;
}

#no-opacity{
    opacity: 1;
}

section#jumbotron{
    background-image:url(../img/jumbo-bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
}

section#game{
    background-image:url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
section#game img,
section#jumbotron img{
    width: 220px;
}
