
header{
    font-family: Arial;
}

main{
    font-family: Helvetica, sans-serif;
}

main img{
    width:100%;
}

.dropdown-toggle::after {
    border: none;
}

div.banner{
    height: 630px;
    width: 100%;
}

div.card{
    width: 100%;
    border-radius: 1rem;
}

div.card img{
    border-radius: 1rem;
}

div.title-box{
    height: 300px;
    width: 100vw;
}

.marketplace{
    width: 200px;
    height: 200px;
    opacity: .6;
}

.marketplace img{
    width:65%;
    margin-bottom: 1rem;

}
#no-opacity{
    opacity: 1;
}

section#jumbotron{
    background-image:url(../img/jumbo-bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
}